* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

:root {
    --header-color: #2B3844;
    --main-color: #202C36;
    --white: white;
    --shadow: #000008;
}

header {
    background-color: var(--header-color);
    padding: 23px 0;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

button {
    background-color: inherit;
    border: none;
    font-size: 16px;
    color: var(--white);
}

.s1 {
    background-color: var(--main-color);
    padding: 48px 0;
}

input {
    width: 480px;
    height: 56px;
    padding: 18px 23px;
    background-color: var(--header-color);
    border: none;
    border-radius: 6px;
    color: var(--white);

}

.s2 {
    background-color: var(--main-color);
    padding-bottom: 45px;
    height: 100%;
}

.card {
    background-color: var(--header-color);
    width: 264px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.card1 {
    padding-bottom: 46px;
}

.card1 h3 {
    padding: 16px 0;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
.card1 p {
    font-size: 14px;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
.ota{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.dark{
    --header-color: #dbdbdb;
    --main-color: #b8b8b8;
    --white: rgb(31, 31, 31);
    --shadow: #000008;
}
@media(max-width:530px){
    header{
        padding: 23px 10px;
    }
    input{
        width: 280px;
    }
}
@media(max-width:270px){
    header{
        padding: 23px 10px;
    }
    input{
        width: 150px;
    }
}
a{
    text-decoration: none;
}